<ion-content>
  <ion-header translucent>
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
      </ion-buttons>
      <!--<ion-title>{{ pageTitle }}</ion-title>-->
      <ion-buttons slot="end">
        <ion-button>
          <ion-img src="assets/images/logo.png" style="width: 80px"></ion-img>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div>
    <div class="logo-container">
      <img src="assets/images/logo-pyc-blanco-2.png" alt="logo" />
    </div>

    <div  *ngIf="currentStep === 1"> 

      
      <form
        class="bg-form-gradient box-container"
        [formGroup]="formGroup1"
        (ngSubmit)="onNextStep(2)"
      >
        <div class="align-center">
          <label class="titleText">Regístrate</label>
        </div>
        <div>
          <div>
            <div style="display: flex">
              <ion-input
                id="name"
                formControlName="name"
                label="Nombres  *"
                labelPlacement="floating"
                class="input-login"
                style="width: 47%"
              >
              </ion-input>

              <ion-input
                id="lastname"
                formControlName="lastname"
                label="Apellidos *"
                labelPlacement="floating"
                class="input-login"
                style="width: 47%; margin-left: 6%"
              >
              </ion-input>
            </div>

            <ion-text
              class="textError"
              *ngIf="formGroup1.get('name')?.hasError('required') && formGroup1.get('name')?.touched"
            >
              Por favor, ingrese nombres y apellidos.
            </ion-text>
          </div>

          <ion-input
            id="nro_document"
            formControlName="nro_document"
            label="Nro de Documento *"
            labelPlacement="floating"
            class="input-login"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup1.get('nro_document')?.hasError('required') && formGroup1.get('nro_document')?.touched"
          >
            Por favor, ingrese su Nro. de documento
          </ion-text>

          <ion-input
            id="birthdate"
            formControlName="birthdate"
            label="Fecha de Nacimiento *"
            labelPlacement="floating"
            class="input-login"
            type="date"
            lang="es"
            (ionChange)="onBirthdateChange($event)"
          >
          </ion-input>
          <!-- Agregar mensaje de error si la fecha de nacimiento es requerida y no se ha tocado -->
          <ion-text
            class="textError"
            *ngIf="formGroup1.get('birthdate')?.hasError('required') && formGroup1.get('birthdate')?.touched"
          >
            Por favor, ingrese su fecha de nacimiento.
          </ion-text>

          <ion-input
            id="password"
            formControlName="password"
            label="Contraseña *"
            labelPlacement="floating"
            class="input-login"
            type="password"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup1.get('password')?.hasError('required') && formGroup1.get('password')?.touched"
          >
            La contraseña es requerida.
          </ion-text>

          <ion-input
            id="confirm_password"
            label="Confirmar Contraseña *"
            formControlName="confirm_password"
            labelPlacement="floating"
            class="input-login"
            type="password"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup1.get('confirm_password')?.hasError('mismatch') && formGroup1.get('confirm_password')?.touched"
          >
            Las contraseñas no coinciden.
          </ion-text>
        </div>

        <div class="mt-10">
          <ion-button
            expand="full"
            class="buttonStyle"
            style="--background: #c80c24"
            [disabled]="!formGroup1.valid"
            type="submit"
            >Siguiente</ion-button
          >
        </div>
      </form>
    </div>

    <div *ngIf="currentStep === 2">
      

      <form
        class="bg-form-gradient box-container"
        [formGroup]="formGroup2"
        (ngSubmit)="onNextStep(3)"
      >
        <div class="align-center">
          <label class="titleText">Regístrate</label>
        </div>
        <div>      
   
          <ion-input
            id="email"
            formControlName="email"
            label="Email *"
            labelPlacement="floating"
            class="input-login"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup2.get('email')?.hasError('email') && formGroup2.get('email')?.touched"
          >
            Por favor, introduce un correo electrónico válido.
          </ion-text>


          <ion-select
          id="branch"
          formControlName="branch"
          label="Retirar de *"
          labelPlacement="floating"
          class="input-login"
          (ionChange)="onCountryChange($event.detail.value)"
        >
          <ion-select-option
            *ngFor="let branch of branchesOffices"
            [value]="branch.CodigoSuc"
          >
            {{branch.DescripcionSuc}}
          </ion-select-option>
        </ion-select>
        <ion-text
          class="textError"
          *ngIf="formGroup2.get('branch')?.hasError('required') && formGroup2.get('branch')?.touched"
        >
          Por favor, seleccione una sucursal.
        </ion-text>


          <ion-select
            id="country"
            formControlName="country"
            label="País *"
            labelPlacement="floating"
            class="input-login"
            (ionChange)="onCountryChange($event.detail.value)"
          >
            <ion-select-option
              *ngFor="let country of countries"
              [value]="country"
            >
              {{country}}
            </ion-select-option>
          </ion-select>
          <ion-text
            class="textError"
            *ngIf="formGroup2.get('country')?.hasError('required') && formGroup2.get('country')?.touched"
          >
            Por favor, seleccione un país.
          </ion-text>

          <ion-select
            *ngIf="selectedCountry!=null"
            id="department"
            formControlName="department"
            label="Departamento *"
            labelPlacement="floating"
            class="input-login"
            (ionChange)="onDepartmentChange($event.detail.value)"
          >
            <ion-select-option
              *ngFor="let department of departments"
              [value]="department"
            >
              {{department}}
            </ion-select-option>
          </ion-select>

          <ion-text
            class="textError"
            *ngIf="formGroup2.get('department')?.hasError('required') && formGroup2.get('department')?.touched"
          >
            Por favor, seleccione un departamento.
          </ion-text>

          <ion-select
            *ngIf="selectedDepartment!=null"
            id="city"
            formControlName="city"
            label="Ciudad *"
            labelPlacement="floating"
            class="input-login"
          >
            <ion-select-option *ngFor="let city of cities" [value]="city">
              {{city}}
            </ion-select-option>
          </ion-select>

          <ion-text
            class="textError"
            *ngIf="formGroup2.get('city')?.hasError('required') && formGroup2.get('city')?.touched"
          >
            Por favor, seleccione una ciudad.
          </ion-text>

          <ion-input
            id="direction"
            formControlName="direction"
            label="Dirección *"
            labelPlacement="floating"
            class="input-login"
          >
          </ion-input>

          <ion-text
            class="textError"
            *ngIf="formGroup2.get('direction')?.hasError('required') && formGroup2.get('direction')?.touched"
          >
            Por favor, ingrese su dirección
          </ion-text>

      
          <div>
            <div style="display: flex">
              <ion-select
                id="prefix"
                formControlName="prefix"
                label="Prefijo *"
                labelPlacement="floating"
                class="input-login"
                style="width: 30%"
              >
                <ion-select-option
                  *ngFor="let prefix of prefixes"
                  [value]="prefix"
                >
                  + {{prefix}}
                </ion-select-option>
              </ion-select>
              <ion-input
                id="cell_phone"
                formControlName="cell_phone"
                type="number"
                label="Celular *"
                labelPlacement="floating"
                class="input-login"
                style="width: 65%; margin-left: 5%"
              >
              </ion-input>
            </div>

            <ion-text
              class="textError"
              *ngIf="formGroup2.get('cell_phone')?.hasError('required') && formGroup2.get('cell_phone')?.touched"
            >
              Por favor, ingrese su Nro. de celular
            </ion-text>
          </div>

        
        </div>

        <div class="button-container mt-10">
          <!-- Botón "Anterior" -->
          <ion-button
            expand="full"
            class="buttonStyle"
            style="--background: #c80c24; flex: 1; margin-right: 5px;"
            type="button"
            (click)="onPreviousStep(1)"
          >
            Anterior
          </ion-button>
          
          <!-- Botón "Siguiente" -->
          <ion-button
            expand="full"
            class="buttonStyle"
            style="--background: #c80c24; flex: 1;"
            [disabled]="!formGroup2.valid"
            type="submit"
          >
            Siguiente
          </ion-button>
        </div>
      </form>
    </div>

    <div *ngIf="currentStep === 3">
      
      <form
        class="bg-form-gradient box-container"
        [formGroup]="formGroup3"
        (ngSubmit)="openRegister()"
      >
        <div class="align-center">
          <label class="titleText">Regístrate</label>
        </div>
        <div>


          <ion-input
            id="ruc"
            formControlName="ruc"
            label="Ruc *"
            labelPlacement="floating"
            class="input-login"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup3.get('ruc')?.hasError('required') && formGroup3.get('ruc')?.touched"
          >
            Por favor, ingrese su Nro. de ruc
          </ion-text>

          <ion-input
            id="business_name"
            formControlName="business_name"
            label="Razón Social *"
            labelPlacement="floating"
            class="input-login"
          >
          </ion-input>
          <ion-text
            class="textError"
            *ngIf="formGroup3.get('business_name')?.hasError('required') && formGroup3.get('business_name')?.touched"
          >
            Por favor, ingrese razon social
          </ion-text>



       <!--   <ion-input
            id="phone"
            formControlName="phone"
            label="Teléfono *"
            labelPlacement="floating"
            class="input-login"
            type="number"
          >
          </ion-input>

          <ion-text
            class="textError"
            *ngIf="formGroup3.get('phone')?.hasError('required') && formGroup3.get('phone')?.touched"
          >
            Por favor, ingrese su Nro. de teléfono
          </ion-text>-->

               

          <ion-select
            id="recommended"
            formControlName="recommended"
            label="Recomendado por *"
            labelPlacement="floating"
            class="input-login"
          >
            <ion-select-option *ngFor="let item of recommended" [value]="item">
              {{item}}
            </ion-select-option>
          </ion-select>
          <ion-text
            class="textError"
            *ngIf="formGroup3.get('recommended')?.hasError('required') && formGroup3.get('recommended')?.touched"
          >
            Por favor, seleccione una opción.
          </ion-text>
        </div>


      
    
        <div class="mt-10">
          <ion-checkbox 
            labelPlacement="end"
            id="acceptTerms"
            formControlName="acceptTerms"
            style="font-size: 12px;"
          >
            Acepto los 
            <a href="https://paraguaycourier.com/index.php/terminos-y-condiciones/" target="_blank" (click)="$event.stopPropagation()">
              Términos y Condiciones
            </a>
          </ion-checkbox>
        </div>
   
        <div class="button-container mt-10">
          <!-- Botón "Anterior" -->
          <ion-button
          expand="full"
            class="buttonStyle"
            style="--background: #c80c24; flex: 1; margin-right: 5px;"
            type="button"
            (click)="onPreviousStep(2)"
          >
            Anterior
          </ion-button>
          
          <!-- Botón "Siguiente" -->
          <ion-button
            expand="full"
            class="buttonStyle"
            style="--background: #c80c24; flex: 1;"
            [disabled]="!formGroup3.valid"
            type="submit"
          >
          Regístrate
          </ion-button>
        </div>




      </form>
    </div>
  </div>
</ion-content>
